.screen {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.payment {
  padding: 16px;
  background-color: antiquewhite;
}

.paymentHeading {
  margin-top: 16px;
  margin-bottom: 16px;
}

.bookedSeats {
  margin-top: 16px;
  margin-bottom: 16px;
}