.screen {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  margin-top: 16px;
  margin-bottom: 16px;
}
