.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3f2fd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 24px;
  padding: 8px;
}

.movieContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e3f2fd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
}